*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: poppin,sans-serif;
}
body{
    height: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    background-color: rgb(236, 199, 199);
}
.card{
margin-top: 100px;
width: 250px;
height: auto;
background: #FFFCFF;
border-radius: 24px;
padding: 25px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

.imagess{
    position: relative;
    height: 250px;
    width: 250px;
    padding: 3px;
    border-radius: 25px;
    margin-bottom: 20px;
  
}
.imagess .photoimage{
    height: 100%;
    width: 100%;
border-radius: 25px;
border: 3px solid #000
}


.card .text-data{
  display: flex;
   flex-direction: row;
    text-align: center;
    justify-content: space-between;
margin-top: 25px;

}

.text-data .text1{
font-size: 22px;
font-weight: 500;
}

.text-data .text2{
    font-size: 22px;
    font-weight: 500;
    }

   
    .card p{
        color:#50514F;
        margin-top: 28px;
        line-height: 24px;
    }

.card .icon{
display: flex;
align-items: center;
margin-top: 25px;

 }

 .icon .data{

    display: flex;
    align-items: center;
    color: #C3B299;
    padding: 0 22px;
    margin-bottom: 22px;

 }

 .card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: center;

 }
 .buttons .button{
    text-decoration: none;
    align-content: center;
    border-radius: 45px;
    background-color: #50514F;
    padding: 10px 28px;
    margin: 0 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
 }